body{
    margin: auto;
    padding: 0;
}
/* nav-section */
#nav-section{
    padding: 1em 2em;
    background-color: white;
    color: green;
}

#nav-section .nav-bar-css{
    color:green;
}
#nav-section .nav-bar-css > li{
    margin-right: 1.3em;
}
#nav-section .nav-bar-css > li > a{
    color: #051977;
}
#nav-section .nav-bar-css > li > a:hover{
    color: yellow;
}




/* jumbotron-section */

#jumbotron{
    background: url('img/bg-home.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:4rem 0;
    height:40rem;
    position: relative;
}
.jumbo{
    font-size: 4rem;
    color: #051952;
    margin-top:4rem ;
    margin-bottom:4rem ;
}
.jumbo-p{
    font-size:1.8rem;
    color: #051952;
    margin-bottom:4rem;
}




/* carousel-section */

.carousel-2{
    width: 95%;
    margin:auto;
    overflow: hidden;
    position: relative;
    bottom: 6rem;
}

.caro{
    width: 200px;
    height: 180px;
    margin-left: 3rem;
    text-align: center;
    border-radius: .5em;
}
.caro h2{
    padding: 2em 1em;
    color: white;
}

/* hero-section */

#hero{
    width: 90%;
    margin: auto auto 5rem auto;
    position: relative;
}
.hero-text{
    line-height:2.5rem;
}
#hero h1{
    color:#f0f1f5;
    font-size: 8rem;
}
.hero p{
    color: #8D8E8E;
    font-size:110%;
    margin-bottom: 2rem;
}
.hero span{
    color:#031752;
    font-size: 130%;
}
#hero .btn-cta{
    color: white;
    padding: .7em 3em;
    border: none;
}
#hero .btn-cta:hover{
    background-color:#031752;
    transition: ease-out;
    color: white;
}
.hero-img::after{
    content: '';
    background: #051952;
    width: 250px;
    height: 200px;
    position: absolute;
    right: -.2em;
    top:-.8em;
    border-radius: .4em;
    z-index: -1;
}
.hero-img::before{
    content: '';
    background: #051952;
    width: 250px;
    height: 200px;
    position: absolute;
    left: -.2em;
    bottom:-.8em;
    border-radius: .4em;
    z-index: -1;
}

/* showcase-section */

#showcase-section{
    width: 95%;
    margin: 6rem auto;
    background: url('img/bg-row\ \(1\).png');
}
.showcase{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:2em;
}
.showcase-cover{
    display: grid;
    grid-template-columns:80px auto;
    padding:1em 1.5em;
}
.showcase-text{
    line-height: 2.5em;
}
.showcase-text h3{
    color: #051952;
    font-size: 1em;
}
.showcase-text p{
    font-size: 80%;
}
.showcase-cover:hover{
    color:black;
    background: white;
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
}


/* showcase-testimonial */

.showcase-testimonial{
    width: 90%;
    margin:auto ;
    padding-bottom: 3em;
}
.showcases-testimonial{
    display: grid;
    grid-template-columns:auto auto 300px;
    background: url('img/bg-row\ \(1\).png');
}
.showcase-testimonial h1{
    font-size: 8rem;
    color: #f0f1f5;
    text-align: center;
}
.showcase-testimonial h3{
    color: #051952;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 6.2rem;
}

.showcases-testimonial-text p{
    font-size: 1em;
}
.showcase-testimonial .btn-cta:hover{
    background-color:#031752;
    color: white;
    border: none;
}
#showcase-section .showcase-testimonial .btn-cta{
    color: white;
    padding: .7em 2em;
    margin:0 30rem;
}

/* count-down-section */
#count-down{
    background: url('img/optin\ \(2\).jpg');
    background-position: center;
    background-size: cover; 
    padding:8em 0;
}

.count{
    display:flex;
    text-align: center;
    justify-content: center;
    gap: 3rem;
}
.count-text h1{
    color: yellow;
    font-weight: bold;
}
.count-text h2{
    color: white;
}

/* courses-display */


#courses-display{
    text-align: center;
}
#courses-display h1{
    font-size: 10rem;
    color: #f0f1f5;
}
#courses-display h3{
    color: #051952;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 7rem;
    margin-bottom: 1em;
}
#courses-display p{
    font-size: 1em;
    width: 60%;
    margin: auto;
    position: relative;
    bottom: 5rem;
}

/* carousel-new-section */
#carousel-new{
    background: #fafafa;
    overflow: hidden;
}
#carousel-new button{
    display: none;
}
#carousel-new hr{
    width: 7%;
    text-align: start;
    background: yellow;
    border-width: .2em;
}
.carousel-encapsulation{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
    margin: auto;
    grid-gap: 5em;
    padding-left: 5em;
    padding-top: 3em;
    height: 380px;
}
#carousel-new .first{
    font-size: 1.3em;
    color: #787878;
    /* width: 70%; */
}
.carousel-new-text h3{
    color: #bdbdbd;
    font-size: 1.3em;
}
.carousel-new-text h2{
    color: #bdbdbd;
    font-size: 1.1em;
    font-weight: bold;
}
#carousel-new .img-new{
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
    padding: 2em;
    height:330px;
}
.design{
    background: #051952;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: yellow;
    text-align:center;
    border-radius: .2rem;
    font-size: 2em;
}

.design-text{
    margin-bottom:  -.7em;
}
.design-text h5{
    color: #031752;
    font-size: 1em;
}
.design-text p{
    color: #bdbdbd;
}
.new-sect{
    display: grid;
    grid-template-columns:80px 400px;
}



/* Events details section */

#event-section{
    text-align: center;
}
#event-section h1{
    font-size: 6rem;
    color: #f0f1f5;
}
#event-section h3{
    color: #051952;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    bottom: 5.3rem;
    margin-bottom: 1em;
}
#event-section p{
    font-size: 1em;
    width: 60%;
    margin: auto;
    position: relative;
    bottom: 5rem;
    color: #a399a1;
    line-height: 2;
}

/* event-section2 */

.news-events{
    display: grid;
    grid-template-columns:auto 700px;
    gap: 2rem;
}
.caro-all > h4{
    font-size: 1rem;
    color: grey;
    margin-bottom: 2em;
}
.caro-all{
    width:95%;
    margin:0 auto;
}
.carousel-encap{
    width:400px;
    margin:0 1em;
    cursor: pointer;
}
.carousel-encap:hover{
    background: white;
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
}
.carousel-encap img{
    width: 400px;
}
.carousel-text-events{
    padding:1em 0 .3em .7em;
    line-height:2;
    background: white;
}
.carousel-text-events h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #051952;
}
.carousel-text-events h3:hover{
    color: goldenrod;
}
.carousel-text-events h5{
    color: #bdbdbd;
    font-size: 1.3em;
}
.carousel-text-events p{
    color: #bdbdbd;
}
.carousel-text-events h6{
    color: goldenrod;
    font-size: 1.2rem;
    font-weight: bold;
}
.carousel-text-events h6:hover{
    color: #051952;
}


/* textwithoutcarousel */
.noncarousel-text > h4{
    font-size: 1rem;
    color: grey;
    margin-bottom: 2em;
}
.non-carousel-encap{
    display:grid;
    grid-template-columns:auto 1fr;
    grid-gap: 3em;
    cursor: pointer;
}
.non-carousel-encap:hover{
    background: white;
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
}
.first-text{
    background: #051952;
    width: 130px;
    height: 150px;
    text-align: center;
}
.first-text h4{
    color: white;
    margin-top: 1em;
}
.first-text h5{
    color: goldenrod;
    font-size: 3em;
}
.second-text h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #051952;
}
.second-text h3:hover{
    color: goldenrod;
}
.second-text p{
    color: #bdbdbd;
}
.second-text h6{
    color: goldenrod;
}
.second-text h6:hover{
    color: #031752;
}




/* contact-section */
#contact-us{
    margin:3em 0 0;
    background: url('img/coll\ 3\ \(1\).jpg');
    background-position: center;
    height: 380px;
    padding: 4rem 0;
    background-size: cover;
}
.contact{
    text-align: center;
    margin: 4rem;
}
.contact-btn{
    display: flex;
    gap: 2em;
    justify-content: center;
}
.contact h2{
    color: yellow;
    font-size: 2em;
}
.contact p{
    color: white;
    font-size: 1em;
}
.contact .btn-cta{
    color: white;
}



/* footer-list */


#footer{
    padding: 5em 4em;
    gap: 2em;
    background: url('img/optin\ \(2\).jpg');
    color: white;
    background-position: center;
    background-size: cover;
}
.footer-list{
    line-height: 2;
}
.footer-list h4{
    color: white;
    margin-bottom: 1em;
    font-weight: bold;
}
.footer-list h5:hover{
    color: goldenrod;
}
.footer-list ul li{
    color: white;
    list-style: none;
    margin-top: 1em;
}
.footer-list ul li:hover{
    color: goldenrod;
}
.footer-list p{
    color: white;
}
.footer-text img{
    margin-bottom: 2em;
    color: white;
}
.footer-text p{
    line-height: 2;
}




/* tab media query */


@media (max-width:990px){
    #jumbotron{
        height:40rem;
    }
    .jumbo{
        font-size: 3.5rem;
        margin-top:3rem ;
        margin-bottom:3rem ;
    }
    .jumbo-p{
        font-size:1.5rem;
        margin-bottom:2rem;
    }

    /* hero-tab */

    #hero h1{
        color:#f0f1f5;
        font-size: 4rem;
    }
    .hero-text{
        margin-bottom: 2em;
    }
    .hero-img > img{
        height:400px;
    }
     /* showcase-section */
     
    #showcase-section .showcase-testimonial .btn-cta{
        padding: .7em 3em;
        margin:unset;
        margin-left: 2em;
    }
    .showcases-testimonial-text{
        gap: unset;
        margin-top:unset;
        height: unset;
        padding-left: 2em;
    }
    .showcases-testimonial{
        display:unset;
    }
    .showcase-testimonial h1{
        font-size: 4rem;
    }
    .showcase-testimonial h3{
        color: #051952;
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
        position: relative;
        bottom: 3.8rem;
    }


    /* count-down-section */

    #count-down{
        height: 600px;
        padding:4em 0;
    }
    .count{
        display:unset;
        gap: 1em;
    }


    /* couses-display-section */
    #courses-display h1{
        font-size: 4rem;
    }
    #courses-display h3{
        font-size: 1.5rem;
        bottom: 3.6rem;
        margin-bottom: 2em;
    }
    #courses-display p{
        font-size: 1em;
        width: 90%;
    }



    /* carousel-new-section */
    #carousel-new hr{
        width: 7%;
        text-align: start;
        background: yellow;
        border-width: .2em;
    }
    .carousel-encapsulation{
        display: unset;
        width: 90%;
        padding-left: 2.2em;
        padding-top: 1em;
        height: 670px;
    }
    #carousel-new .first{
        font-size: 1em;
        width: 100%;
    }
    
    #carousel-new .img-new{
        margin-bottom: 3em;
    }



    /* event-section */

    #event-section h1{
        font-size: 4rem;
    }
    #event-section h3{
        font-size: 1.3rem;
        bottom: 3.5rem;
        margin-bottom: 3em;
    }
    #event-section p{
        font-size: 1em;
        width: 80%;
        position: relative;
        bottom: 5rem;
    }

    /* events-section222 */
    .news-events{
        display: unset;
    }
    .caro-all > h4{
        font-size: 1rem;
        color: grey;
        margin-bottom: 2em;
    }
    .caro-all{
        width:90%;
        margin:0 auto;
        overflow: hidden;
    }
    .carousel-encap{
        width:600px;
        margin:0 1em;
        margin-bottom: 5em;
    }
    .carousel-encap img{
        width: 600px;
    }
    .carousel-text-events h3{
        font-size: 1.3rem;
    }
    .carousel-text-events h5{
        font-size: 1em;
    }
    .carousel-text-events p{
        font-size: .9em;
    }
    .carousel-text-events h6{
        font-size: 1rem;
    }

    .noncarousel-text{
        padding: 0 2em;
    }



    /* contact-section */
    .contact-btn{
        display:flex;
        gap: 2em;
        justify-content: center;
    }
    

}


/* small-media-query */
@media (max-width:500px){


    /* jumbotron-setion */

    #jumbotron{
        height:40rem;
    }
    .jumbo{
        font-size: 3rem;
        margin-top:3rem ;
        margin-bottom:3rem ;
    }
    .jumbo-p{
        font-size:1rem;
    }

    /* hero-section */


    .hero-img > img{
        height:300px;
    }



    /* showcase-section */

    .showcases-testimonial{
        display: unset;
    }
    #showcase-section .showcase-testimonial .btn-cta{
        padding: .7em 2em;
        margin:unset;
    }
    .showcase-testimonial h1{
        font-size: 4rem;
    }
    .showcase-testimonial h3{
        font-size: 1.3rem;
        bottom: 3.8rem;
    }
    .showcases-testimonial-text{
        gap: unset;
        margin-top:unset;
        height: unset;
    }
    

    /* count-down-section */

    #count-down{
        height: 600px;
        text-align: center;
        padding:4em 0;
    }
    .count{
        text-align: unset;
        gap: 1em;
    }


    /* events-section */

    #event-section h1{
        font-size: 2.5rem;
        color: #f0f1f5;
    }
    #event-section h3{
        bottom: 2.5rem;
        font-size: 1em;
    }
    
    .caro-all > h4{
        margin-left: 2em;
    }
    .carousel-encap{
        width:380px;
        margin:0 1em;
        margin-bottom: 5em;
    }
    .carousel-encap img{
        width:380px;
    }


    /* non-carousel-text */

    .noncarousel-text > h4{
        font-size: 1rem;
        color: grey;
        margin-bottom: 2em;
    }
    .non-carousel-encap{
        display:grid;
        grid-template-columns:auto 1fr;
        grid-gap: 1em;
        cursor: pointer;
    }
    .non-carousel-encap:hover{
        background: white;
        box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
    }
    .first-text{
        background: #051952;
        width: 130px;
        height: 130px;
        text-align: center;
    }
    .first-text h4{
        color: white;
        margin-top: 1em;
    }
    .first-text h5{
        color: goldenrod;
        font-size: 3em;
    }
    .second-text h3{
        font-weight: bold;
        font-size: 1rem;
        color: #051952;
    }
    .second-text h3:hover{
        color: goldenrod;
    }
    .second-text p{
        color: #bdbdbd;
        font-size: .7em;
    }
    .second-text h6{
        color: goldenrod;
    }
    .second-text h6:hover{
        color: #031752;
    }


    /* cntact-section */
    #contact-us{
        padding: 1rem 0;
    }
    .contact-btn{
        display:unset;
        gap: 2em;
        justify-content: center;
    }
    .call-email{
        display: flex;
    }
    
}
