*{
    margin: 0;
    padding: 0;
}
/* nav-section */


#nav-section{
    padding: 1em 10em;
    background-color: white;
    color: green;
    position:static;
}

.nav-bar-css{
    margin-right: 10em;
    color:green;
}
.nav-bar-css > li{
    margin-right: 2em;
}
.nav-bar-css > li > a{
    color: #051977;
}
.nav-bar-css > li > a:hover{
    color: yellow;
}




/* jumbotron-section */

#jumbotron{
    background: url('img/bg-home.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:4rem 0;
    height:45rem;
    position: relative;
}
.jumbo{
    font-size: 400%;
    color: #051952;
    margin-top:4rem ;
    margin-bottom:4rem ;
}
.jumbo-p{
    font-size:170%;
    color: #051952;
    margin-bottom:4rem;
}




/* carousel-section */

.carousel-2{
    width: 95%;
    margin:auto;
    overflow: hidden;
    position: relative;
    bottom: 6rem;
}

.caro{
    width: 250px;
    height: 200px;
    margin-left: 3rem;
    text-align: center;
    border-radius: .5em;
}
.caro h2{
    padding: 3em 1em;
    color: white;
}

/* hero-section */

#hero{
    width: 90%;
    margin: auto auto 5rem auto;
    position: relative;
}
.hero-text{
    line-height:2.5rem;
}
#hero h1{
    color:#f0f1f5;
    font-size: 1200%;
}
.hero p{
    color: #8D8E8E;
    font-size:110%;
    margin-bottom: 2rem;
}
.hero span{
    color:#031752;
    font-size: 130%;
}
#hero .btn-cta{
    color: white;
    padding: .7em 3em;
    border: none;
}
#hero .btn-cta:hover{
    background-color:#031752;
    transition: ease-out;
    color: white;
}
.hero-img::after{
    content: '';
    background: #051952;
    width: 250px;
    height: 200px;
    position: absolute;
    right: -.2em;
    top:-.8em;
    border-radius: .4em;
    z-index: -1;
}
.hero-img::before{
    content: '';
    background: #051952;
    width: 250px;
    height: 200px;
    position: absolute;
    left: -.2em;
    bottom:-.8em;
    border-radius: .4em;
    z-index: -1;
}

/* showcase-section */

#showcase-section{
    width: 90%;
    margin: 6rem auto;
    /* overflow: hidden; */
    background: url('img/bg-row\ \(1\).png');
}
.showcase{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap:7em;
}
.showcase-cover{
    display: grid;
    grid-template-columns:80px auto;
    box-shadow: 2em white;
    padding:1em 1.5em;
}
.showcase-text{
    line-height: 2.5em;
}
.showcase-text h3{
    color: #051952;
}
.showcase-text p{
    font-size: 100%;
}
.showcase-cover:hover{
    color:black;
    background: white;
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
}
/* showcase-testimonial */
.showcases-testimonial{
    display: grid;
    grid-template-columns:auto 300px;
}
.showcase-testimonial h1{
    font-size: 15rem;
    color: #f0f1f5;
    text-align: center;
}
.showcase-testimonial h3{
    color: #051952;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 10rem;
}
.showcases-testimonial-text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    margin: 0;
}
.showcases-testimonial-text p{
    font-size: 1.4em;
}
.showcase-testimonial .btn-cta:hover{
    background-color:#031752;
    color: white;
    border: none;
}
#showcase-section .showcase-testimonial .btn-cta{
    color: white;
    padding: .7em 2em;
    margin:0 30rem;
}

/* count-down-section */
#count-down{
    background: url('img/optin\ \(2\).jpg');
    height: 300px;
    text-align: center;
    padding: 10rem 20rem;
    background-position: center;
    background-size: cover;
}

.count{
    display:flex;
    text-align: center;
    gap: 3rem;
}
.count-text h1{
    color: yellow;
    font-weight: bold;
}
.count-text h2{
    color: white;
}

/* courses-display */


#courses-display{
    text-align: center;
}
#courses-display h1{
    font-size: 12rem;
    color: #f0f1f5;
}
#courses-display h3{
    color: #051952;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: 9rem;
}
#courses-display p{
    font-size: 1.4em;
    width: 60%;
    margin: auto;
    position: relative;
    bottom: 5rem;
}

/* carousel-new-section */
#carousel-new{
    background: #fafafa;
    overflow: hidden;
}
#carousel-new button{
    display: none;
}
#carousel-new hr{
    width: 10%;
    text-align: start;
    background: yellow;
    border-width: .4em;
}
.carousel-encapsulation{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
    margin: auto;
    grid-gap: 5em;
    padding-left: 7em;
    padding-top: 5em;
    height: 500px;
}
#carousel-new .first{
    font-size: 1.7em;
    color: #787878;
    width: 80%;
}
.carousel-new-text h3{
    color: #bdbdbd;
    font-size: 1.3em;
}
.carousel-new-text h2{
    color: #bdbdbd;
    font-size: 1.1em;
    font-weight: bold;
}
#carousel-new .img-new{
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
    padding: 2em;
    height:330px;
}
.design{
    background: #051952;
    width: 50px;
    height: 50px;
    font-size: 3em;
    font-weight: bold;
    color: yellow;
    text-align: center;
    border-radius: .2rem;
    margin-bottom: 4em;
}
.design p{
    margin-top: -1rem;
}
.design-text p{
    margin-top: -.7em;
}
.new-sect{
    display: flex;
    gap: 1em;
}



/* Events details section */

#event-section{
    text-align: center;
}
#event-section h1{
    font-size: 12rem;
    color: #f0f1f5;
}
#event-section h3{
    color: #051952;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    bottom: 9rem;
}
#event-section p{
    font-size: 1em;
    width: 40%;
    margin: auto;
    position: relative;
    bottom: 5rem;
    color: #a399a1;
    line-height: 2;
}

/* event-section2 */

.news-events{
    display: grid;
    grid-template-columns:auto 700px;
    gap: 2rem;
}
.caro-all > h4{
    font-size: 1rem;
    color: grey;
    margin-bottom: 2em;
}
.caro-all{
    width:95%;
    margin:0 auto;
}
.carousel-encap{
    width:400px;
    margin:0 1em;
    cursor: pointer;
}
.carousel-encap:hover{
    background: white;
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
}
.carousel-encap img{
    width: 400px;
}
.carousel-text-events{
    padding:1em 0 .3em .7em;
    line-height:2;
    background: white;
}
.carousel-text-events h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #051952;
}
.carousel-text-events h3:hover{
    color: goldenrod;
}
.carousel-text-events h5{
    color: #bdbdbd;
    font-size: 1.3em;
}
.carousel-text-events p{
    color: #bdbdbd;
}
.carousel-text-events h6{
    color: goldenrod;
    font-size: 1.2rem;
    font-weight: bold;
}
.carousel-text-events h6:hover{
    color: #051952;
}


/* textwithoutcarousel */
.noncarousel-text > h4{
    font-size: 1rem;
    color: grey;
    margin-bottom: 2em;
}
.non-carousel-encap{
    display:grid;
    grid-template-columns:auto 1fr;
    grid-gap: 3em;
    cursor: pointer;
}
.non-carousel-encap:hover{
    background: white;
    box-shadow:10px 10px 15px 15px rgba(0, 0, 0, 0.1);
}
.first-text{
    background: #051952;
    width: 130px;
    height: 150px;
    text-align: center;
}
.first-text h4{
    color: white;
    margin-top: 1em;
}
.first-text h5{
    color: goldenrod;
    font-size: 3em;
}
.second-text h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #051952;
}
.second-text h3:hover{
    color: goldenrod;
}
.second-text p{
    color: #bdbdbd;
}
.second-text h6{
    color: goldenrod;
}
.second-text h6:hover{
    color: #031752;
}




/* contact-section */
#contact-us{
    margin:3em 0 0;
    background: url('img/coll\ 3\ \(1\).jpg');
    background-position: center;
    height: 380px;
    padding: 4rem 0;
}
.contact{
    text-align: center;
    margin: 4rem;
}
.contact-btn{
    display: flex;
    gap: 2em;
    justify-content: center;
}
.contact h2{
    color: yellow;
    font-size: 3em;
}
.contact p{
    color: white;
    font-size: 1.5em;
}
.contact .btn-cta{
    color: white;
}



/* footer-list */


#footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5em 4em;
    gap: 2em;
    background: url('img/optin\ \(2\).jpg');
    color: white;
}
.footer-list{
    line-height: 2;
}
.footer-list h4{
    color: white;
    margin-bottom: 1em;
    font-weight: bold;
}
.footer-list h5:hover{
    color: goldenrod;
}
.footer-list ul li{
    color: white;
    list-style: none;
    margin-top: 1em;
}
.footer-list ul li:hover{
    color: goldenrod;
}
.footer-list p{
    color: white;
}
.footer-text img{
    margin-bottom: 2em;
    color: white;
}
.footer-text p{
    line-height: 2;
}